<footer id="footer-group">
<div class="container">
  <div class="footer-middle">
	<div class="col-sm-3">
		<div class="block">
	<div class="block-title"><strong><span>My Account</span></strong></div>
	<div class="block-content">
		<ul class="links">
			<li><i class="icon-right-dir theme-color"></i><a href="#" title="About us">About us</a></li>
			<li><i class="icon-right-dir theme-color"></i><a href="#" title="Contact us">Contact us</a></li>
			<li><i class="icon-right-dir theme-color"></i><a href="#" title="My account">My account</a></li>
			<li><i class="icon-right-dir theme-color"></i><a href="#" title="Orders history">Orders history</a></li>
			<li><i class="icon-right-dir theme-color"></i><a href="#" title="Advanced search">Advanced search</a></li>
		</ul>
	</div>
</div>
	</div>
	<div class="col-sm-3">
		<div class="block">
    <div class="block-title"><strong><span>Contact Information</span></strong></div>
    <div class="block-content">
        <ul class="contact-info">
            <li><i class="icon-location"></i>	</li>
            <li><i class="icon-phone"></i></li>
            <li><i class="icon-mail"></i></li>
            <li><i class="icon-clock"></i></li>
        </ul>
    </div>
</div>
	</div>
	<div class="col-sm-3">
		<div class="block">
    <div class="block-title"><strong><span>Main Features</span></strong></div>
    <div class="block-content">
<ul class="features">
    <li><i class="icon-ok theme-color"></i><a href="#">Super Fast Magento Theme</a></li>
    <li><i class="icon-ok  theme-color"></i><a href="#">1st Fully working Ajax Theme</a></li>
    <li><i class="icon-ok  theme-color"></i><a href="#">10 Unique Homepage Layouts</a></li>
    <li><i class="icon-ok  theme-color"></i><a href="#">Powerful Admin Panel</a></li>
    <li><i class="icon-ok  theme-color"></i><a href="#">Mobile &amp; Retina Optimized</a></li>
</ul>
</div>
</div>
	</div>
	<div class="col-sm-3">
				<div class="block block-subscribe">
    <div class="block-title">
        <strong><span>Be the First to Know</span></strong>
    </div>
    <form action="/" >
        <div class="block-content newsletterSignup">
            <p>Get all the latest information on Events  Sales and Offers. Sign up for newsletter today.</p>
            <div class="input-box">
                <p class="label">Enter your e-mail Address</p>
            
               
                <div class="clearer"></div>
            </div>
        </div>
    </form>
    
</div>
	</div>
</div>
    <div th:remove="all">
        <!--
            Include this template at the bottom of a page (automatically included by partials/footer.html
            to gain access to jQuery and other plugins used throughout the site.
            
            We will attempt to load the jQuery library from Google's CDN, but fallback on our own provided
            jQuery if necessary.
            
            Other than this jQuery loading script, no other scripts should be defined inline.
        -->
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:inline="text">
        //<![CDATA[
        window.jQuery || document.write('<script src="[[@{/js/lib/jquery-1.9.1.js}]]"><\/script>');
        //]]>
    </script>
    
    <blc:bundle name="lib.js" 
                mapping-prefix="/js/"
                files="plugins.js,
                       libs/jquery.MetaData.js,
                       libs/jquery.rating.pack.js,
                       libs/jquery.dotdotdot-1.5.1.js" />
    
    <blc:bundle name="heatclinic.js" 
                mapping-prefix="/js/"
                files="BLC.js,
                       heatClinic.js,
                       cartOperations.js,
                       checkoutOperations.js,
                       globalOnReady.js,
                       manageAccountOperations.js,
                       reviewOperations.js,
                       bootstrap.js" />
</div>
</footer>
